<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtraining.animationexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidtraining.animationexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtraining.animationexample.FrameAnimationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.androidtraining.animationexample.FadeInActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.androidtraining.animationexample.FadeOutActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.androidtraining.animationexample.CrossfadeActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.androidtraining.animationexample.SlidingPagerActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.androidtraining.animationexample.SlideUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.androidtraining.animationexample.SlideDownActivity"
            android:label="@string/app_name" />
    </application>

</manifest>